<div class="page-header">
  <h1><%= @family.name %></h1>
</div>

<div class="row">
  <div class="col-xs-2">
    <img src="<%= @family.picture_url %>" />
  </div>
  <div class="col-xs-10">
    <% if @family.children.any? %>
      <h2>Children</h2>
      <ul>
        <% @family.children.each do |child| %>
          <li><%= child.first_name %> <%= child.last_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<h2>Address</h2>

<% @family.addresses.each do |addr| %>
  <address>
    <%= addr.address %><br>
    <% if addr.address2 %><%= addr.address2 %><br><% end %>
    <%= addr.city %>, <%= addr.state %> <%= addr.zip_code %><br>
  </address>
<% end %>


<h2>Phone Numbers</h2>

<dl class="dl-horizontal">
<% @family.phone_numbers.each do |phone| %>
  <dt>Family:</dt>
  <dd><%= render phone %></dd>
<% end %>
<% @family.head.phone_numbers.personal.each do |phone| %>
  <dt><%= @family.head.first_name %>:</dt>
  <dd><%= render phone %></dd>
<% end %>
<% @family.spouse.phone_numbers.personal.each do |phone| %>
  <dt><%= @family.spouse.first_name %>:</dt>
  <dd><%= render phone %></dd>
<% end %>
</dl>
