<% content_for(:title) { @family.name } %>

<div class="page-header">
  <h1><%= @family.name %></h1>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <img src="<%= @family.picture_url %>" />
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <h2><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Address</h2>

    <% @family.addresses.each do |addr| %>
      <address>
        <%= addr.address %><br>
        <% if addr.address2 %><%= addr.address2 %><br><% end %>
        <%= addr.city %>, <%= addr.state %> <%= addr.zip_code %><br>
      </address>
    <% end %>


    <h2><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Phone Numbers</h2>

    <dl class="dl-horizontal">
    <% @family.phone_numbers.each do |phone| %>
      <dt>Family:</dt>
      <dd><%= render phone %></dd>
    <% end %>
    <% @family.head.phone_numbers.personal.each do |phone| %>
      <dt><%= @family.head.first_name %>:</dt>
      <dd><%= render phone %></dd>
    <% end %>
    <% @family.spouse.phone_numbers.personal.each do |phone| %>
      <dt><%= @family.spouse.first_name %>:</dt>
      <dd><%= render phone %></dd>
    <% end %>
    </dl>


    <h2><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email addresses</h2>

    <dl class="dl-horizontal">
    <% @family.head.email_addresses.each do |email_address| %>
      <dt><%= @family.head.first_name %>:</dt>
      <dd><%= render email_address %></dd>
    <% end %>
    <% @family.spouse.email_addresses.each do |email_address| %>
      <dt><%= @family.spouse.first_name %>:</dt>
      <dd><%= render email_address %></dd>
    <% end %>
    </dl>


    <% if @family.children.any? %>
      <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Children</h2>
      <ul>
        <% @family.children.each do |child| %>
          <li><%= child.first_name %> <%= child.last_name %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
